.ls
{
   margin-left:50px;
   margin-bottom: 10px; 
    
}
body
{
    background-color: rgb(255, 251, 212);
    
}

form
{
    text-align: center;
    background-color: rgba(66, 65, 66, 0.671);
    margin-right: 1100px;
}

